body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media only screen and (min-width: 320px) {
  .MathJax {
    font-size: 2vh;
  }
}
@media only screen and (min-width: 481px) {
  .MathJax {
    font-size: 1em;
  }
}
@media only screen and (min-width: 769px) {
  .MathJax {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1025px) {
  .MathJax {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1201px) {
  .MathJax {
    font-size: 1em;
  }
}